name: Deploy to Cloud Run

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v1
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: Set up gcloud CLI
        uses: google-github-actions/setup-gcloud@v2
        with:
          project_id: ${{ secrets.PROJECT_ID }}

      - name: Configure Docker
        run: |
          gcloud auth configure-docker ${{ secrets.LOCATION }}-docker.pkg.dev --quiet

      - name: Build Docker image
        run: |
          docker build -t \
          ${{ secrets.LOCATION }}-docker.pkg.dev/${{ secrets.PROJECT_ID }}/${{ secrets.REPO }}/fastapi:latest .

      - name: Push Docker image
        run: |
          docker push \
          ${{ secrets.LOCATION }}-docker.pkg.dev/${{ secrets.PROJECT_ID }}/${{ secrets.REPO }}/fastapi:latest

      - name: Deploy to Cloud Run
        run: |
          gcloud run deploy fastapi-inst \
            --image ${{ secrets.LOCATION }}-docker.pkg.dev/${{ secrets.PROJECT_ID }}/${{ secrets.REPO }}/fastapi:latest \
            --region ${{ secrets.LOCATION }} \
            --platform managed \
            --allow-unauthenticated
